<!doctype html>
<html>
  <head>
    <title>Bridge Competition</title>
    <%- include('./partials/css.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include("./partials/navBar.ejs") %>
      <h1>Bridge Competition</h1>

      <div class="mb-4">
        <a href="/players" class="btn btn-primary btn-sm">Player page</a>
      </div>
      <div class="mb-4">
        <a href="/teams" class="btn btn-primary btn-sm">Team page</a>
      </div>

      <%- include("./partials/footer.ejs") %>
    </div>
    <!-- /.container -->
  </body>
</html>
